.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(10, 10, 10, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(8px);
}

.nav-logo {
  font-weight: 600;
  color: #a855f7;
  font-size: 1.1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #a855f7;
}
